header {
    background-color: #F63232;
    padding: 20px;
    text-align: center;
}
.banner {
    position: relative;
}
.banner img {
    max-width: 100%;
}
.banner .welcome {
    background-color: #FEB614;
    position: absolute;
    padding: 30px;
    color: white;
    left: 0;
    top: 30%;
}
.banner h2 {
    font-size: 74px;
}
.banner h2 span {
    font-size: 1.3em;
}